# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# Jupyter / Colab
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log
~$*.docx
